<h1>My Todo's</h1>
<div class="container">

    <span>My Todo's</span>
    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>TargetDate</th>
                <th>IsCompleted</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <td>{{todo.description}}</td>
                <!-- Will convert this date format using new pipe directive which can be used everywhere via pipe separator -->
                <td>{{datePipe.transform(todo.targetDate,'dd/MM/yyyy')}}</td>
                <td>{{todo.done}}</td>
            </tr>
        </tbody>
    </table>
</div>